.container {
    display: grid;
    /* grid-template-columns: auto auto 150px; */
    grid-template-columns: 300px auto 150px;
    grid-auto-rows: 1fr 1fr;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }

.grid {
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}